.services{
    padding-top: 50px;
    .servicesContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 90px;
    }

    .welcomeSection{
        display: flex;
        justify-content: center;
        align-items: center;

        .textSection{
            width: 50%;
            li{
                padding-top: 10px;
            }
        }
        .imgSection{
            width: 50%;
            img{
                margin-left: 100px;
                width: 500px;
                height: 500px;
                border-radius: 10px;
            }
        }
    }

    .Quality{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;

        .qText{
            width: 50%;
            h1{
                padding-bottom: 10px;
            }
            .typesOfServices{
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    padding-top: 10px;
                    
                }
                .serviceCards{
                    display: flex;
                    flex-direction: column;
                    padding: 15px;
                    span{
                        height: 55px;
                        padding-bottom: 10px;
                        font-size: 30px;
                    }
                }
            }
        }
        .qImg{
            width: 50%;
            img{
                margin-left: 100px;
                width: 500px;
                height: 500px;
                border-radius: 10px;
            }
        }
    }

    .customerSatisfaction{
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: space-between;
        margin-top: 100px;
        .servicesInfo{
            display: flex;
            flex-direction: column;
            span{
                margin-top: 10px;
            }
        }
        .servicesCards{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 70px;
            margin-bottom: 70px;
    
            .cards{
                display: flex;
                flex-direction: column;
                padding: 10px;
                min-height: 500px;
                box-sizing: border-box;
                img{
                    height: 500px;
                    width: 370px;
                    padding-bottom: 30px;
                    border-radius: 10px;
                }
                h3{
                    padding-bottom: 30px;
                }
                span{
                    height: 10px;
                    width: 370px;
                }
            }
        }
    }

    .gridCards{
        margin-top: 100px;
        display: flex;
        .leftSection{
            width: 50%;
            .punchingServices{
                display: flex;
                flex-direction: column;
                border: 2px solid lightgray;
                .PStext{
                    padding: 30px 10px;
                }
            }
            .servicesTypes{
                display: flex;
                margin-top: 10px;
                p{
                    font-size: 30px;
                }
                .grinding{
                    border: 2px solid lightgrey;
                    padding: 10px;
                }
                .laser{
                    padding: 10px;
                    border: 2px solid lightgrey;
                    margin-left: 10px;
                }
            }
        }
        .rightSection{
            width: 50%;

            .steelFabrication{
                display: flex;
                border: 2px solid lightgrey;
                margin-left: 10px;
                .SFtext{
                    padding: 30px 10px;
                }
                img{
                    width: 250px;
                    height: 300px;
                }
            }
            .punchingServices{
                display: flex;
                flex-direction: column;
                border: 2px solid lightgray;
                margin-left: 10px;
                margin-top: 10px;
                .PStext{
                    padding: 30px 10px;
                }
                img{
                    height: 211px;
                }
            }
        }
    }

}