@import "../../App.scss";
.team{
    margin-top: 20px;
    .teamContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        @include mobile{
            flex-wrap: wrap;
        }
        .heading{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-bottom: 80px;
            gap: 10px;
        }
    }
    .leaderProfile{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        @include mobile{
            align-items: center;
            justify-content: center;
        }
        .profiles{
            padding: 0px 70px 40px 70px;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 5px;
            

            img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-bottom: 10px;
                border: 2px solid lightgray;
            }
        }
    }
    .teamCards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .profiles{
            padding: 0px 70px 40px 70px;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 5px;

            img{
                width: 150px;
                height: 150px;  
                border-radius: 50%;
                margin-bottom: 10px;
                border: 2px solid lightgray;
            }
        }
    }
}