.team{
    .teamContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        .heading{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-bottom: 80px;
            gap: 10px;
        }
    }
    .teamCards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .profiles{
            padding: 0px 70px 40px 70px;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 5px;

            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-bottom: 10px;
            }
        }
    }
}