@import "../../App.scss";
.achievements{
        display: flex;
        flex-direction: column;
        padding: 120px 90px 90px 90px;
        @include mobile{
            padding:50px 30px 30px 30px;
        }
    .achievementsContainer{
        .clients{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include mobile{
                flex-wrap: wrap;
            }
            h5{
                margin: 40px;
                margin-right: 10px;
            }
            .clientLogo{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-right: 30px;
                p{
                    font-size: 30px;
                    margin-right:10px ;
                }
            }
        }

        .Awards{
            margin-top: 100px;
            margin-bottom: 90px;
            display: flex;
            flex-wrap: wrap;
            @include mobile{
                flex-direction: column;
                align-items: center;
            }
            .textContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 50%;
                @include mobile{
                    max-width: 100%;
                    align-items: center;
                }
                h1{
                    margin-bottom: 30px;
                }
                h5{
                    @include mobile{
                        text-align: center;
                        margin-top: 10px;
                        margin-bottom: 20px;
                    }
                }
            }
            .logosContainer{
                display: flex;
                flex-wrap: wrap;
                max-width: 50%;
                justify-content: flex-end;
                align-items: center;
                @include mobile{
                    justify-content: center;
                }
                .awardlogo{
                    display: flex;
                    align-items: center;
                    padding: 10px 50px 10px 50px;
                    margin: 3px;
                    background-color: lightgrey;
                    p{
                        font-size: 30px;
                        margin-right:10px;
                    }
                    @include mobile{
                        padding: 10px 50px 10px 50px;
                    }
                }
            }
        }
    }
}