@import "../../App.scss";
.footerContainer{
    padding: 0px 90px 90px 90px;
    @include mobile{
        padding: 0px 20px 20px 20px;
    }
    .footerContent{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;
        .logo{
            @include mobile{
                h3{
                    margin-bottom: 20px;
                }
            }
        }
    }
    .links{
        display: flex;
        align-items: center;
        gap: 30px;
        font-weight: 500;
    }
    hr{
        padding: 1px 0px 1px 0px;
    }
    .footerMark{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}